<section class="user-section">
  <h2 class = "h2-user"><%= "Name: #{@user.name}" %></h2>
  <%= button_to "Add as a friend", users_path, :method => "get", class: "btn btn-primary" %>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
